body {
    display: flex;
	background-color: white;
	color: white;
    height :100vh;
    box-sizing: border-box;
	text-align: center;
	font-size: 24px;
    align-items: flex-end;
    margin: 0;
    position: relative;
    background-color: black;
}

#icons{
    position: absolute;
    top:0;
    left:0;
    margin-top: 10px;
    margin-left:10px;
    gap:5px;
}

button{
    width:100%;
    height: 30%;
    border-radius: 50px;
    font-size: 25px;
    background-color: #05aa9084;
    color:white;
    border:0;
}